doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/js/jquery-1.8.3.min.js')
    script(type='text/javascript', src='/js/index.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/underscore-min.js')
    script(type='text/javascript', src='/stp.js')
    script(type='text/javascript', src='/abt.js')
    script(type='text/javascript', src='/mam.js')
  body
    block content
    iframe(name="fakeTarget").hidden